<h1>Survey: {{model.survey.name}}</h1>
Available Slots: {{model.availableSlots}}<br>
Total Slots: {{model.numberOfParticipants}}
<article>
<h2>{{model.location.name}} {{model.timeslot.name}}</h2>
{{#participant-person-table model=model.participants}}
{{#if session.isAdmin}}
  {{#if model.hasSlotsRemaining}}
    {{select-participant surveyslot=model}}
  {{/if}}
{{/if}}
{{/participant-person-table}}
</article>
