{{#if showing}}
{{combo-box
  valueList=availableParticipants
  itemKey='id'
  itemLabel='name'
  canFilter=true
  orderBy='name'
  onSelected=(action 'setSelection')
}}
<button {{action 'selectParticipant'}} disabled={{assignDisabled}}>Assign Participant</button>
<button {{action 'collapse'}}>Cancel</button>
{{else}}
<div class='plus'{{action 'expand'}}>+</div>
{{/if}}
