{{#if showing}}
{{combo-box
  valueList=availableSurveyslots
  itemKey='id'
  itemLabel=surveySlotLabel
  canFilter=true
  orderBy='survey.name'
  onSelected=(action 'setSelection')
}}
<button {{action 'selectSurveyslot'}} disabled={{assignDisabled}}>Assign Survey</button>
<button {{action 'collapse'}}>Cancel</button>
{{else}}
<div class='plus'{{action 'expand'}}>+</div>
{{/if}}
